[submodule "zsh-git"]
	path = zsh-git
	url = https://github.com/jimmyharris/zsh-git.git
[submodule "completions"]
	path = completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/jimmyharris/dircolors-solarized.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "base16-shell"]
	path = base16-shell
	url = git://github.com/chriskempson/base16-shell.git
