[submodule "zsh-git"]
	path = zsh-git
	url = git://github.com/jimmyharris/zsh-git.git
[submodule "completions"]
	path = completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
